html,
body {
    height: 100%;
    
}

body {
    padding: 6px;
    background-color: #505050;
    box-sizing: border-box;
    -webkit-touch-callout: none;
}

::-webkit-scrollbar {     
    background-color: transparent;
    width: .5em;
    border: 0 ;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
    background:  rgba(0, 112, 204, 0.767)
}


.split {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

.content {
    /*border: 1px solid #383838;*/
    background-color: #292929;
}

.gutter {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
    background-image: url('../grips/vertical.png');
}

.gutter.gutter-vertical {
    cursor: row-resize;
    background-image: url('../grips/horizontal.png');
}

.split.split-horizontal,
.gutter.gutter-horizontal {
    height: 100%;
    float: left;
}

.playlist-tab {
    width: 50%;
    text-align: center;
    margin: 0 !important;
    background-color: #353535;

}

.playlist-tabs {
    border-bottom: 6px solid rgb(63, 63, 63);
}

.nav-tabs {
    border-bottom: 6px solid #444;
}

.no-border {
    border: none !important;
}

#library {
    overflow: hidden;
}
#libraryContent .tab-pane {
    overflow-y: auto;
}

.nav-link {
    padding: 0.5rem 0 0.5rem 0;
}

#preview-wrapper .gutter, #program-wrapper .gutter {
    cursor: default !important;
}

#preview, #program {
    height: calc(100% - 62px);
    padding: 6px;
    padding-bottom: 48px;
}

#tools, #pgm-tools {
    height: 56px;
    overflow-y: visible;
    overflow-x: visible;
    padding: 10px;
}

#pgm-tools {
    text-align: right;
}

.toolbar-btn {
    width: 20px;
}

.full-btn > img {
    width: 36px;
}
.full-btn > img:hover {
    opacity: .7;
    cursor: pointer;
}

.full-btn {
    padding-left: 10px;
}

.btn-bible {
    margin-left: 7px;
    padding-right: 12px;
}

.drop-up {
    padding-right: 6px !important;
    padding-left: 3px !important;
}

.border-success > .card-header,  
.border-warning > .card-header,  
.border-danger > .card-header,  
.border-info > .card-header,  
.border-dark > .card-header {
    margin-right: 1px;
    margin-top: 1px;
    margin-left: 1px;
}

.card {
    background-color: #3f3f3f;
    margin-bottom: 8px !important;
}

.card-header {
    background-color: #1d1d1d52 !important;
    padding: 0;
    cursor: default;
}

.card-header-text {
    padding: 9px;
}

.card-body {
    white-space: pre-wrap;
}

.card.ui-selecting, .card.ui-selected {
    background-color: #0f507d;
}

.sort-handle {
    height: 40px;
    float: left;
    width: 60px;
    padding: 8px;
    padding-left: 20px;
}

.sort-handle > img {
    width: 22px;
}

.cued {
    background-color: #9c6c00 !important;
}

.live {
    border-color: #ec0000 !important;
    background-color: #750000 !important;
}

.cued {
    border-color: #ff9900 !important;
}

#library_pane > ul {
    list-style-type: none;
}

.list-item {
    padding: 6px 14px 6px 14px;
    background-color: #383838 !important;
    margin: 2px;
}

/* .list-item:nth-child(even) {
    background-color: #1f1f1f;
} */

.list-item.ui-selected {
 
    background-color: #0f507d !important;
}

/* #library_pane > .ui-sortable-placeholder {
    display: none;
} */

#libraryContent, #current_playlist {
    background-color: #292929;
}
.list-item {
    cursor: default;
    -webkit-user-select: none;
}

.list-item.editing {
    -webkit-user-select: text;
    cursor: text;
}

::selection {
    background: #ff9100; /* WebKit/Blink Browsers */
  }

  .hide {
      display: none;
  }

  .popover {
    max-width: unset !important;
  }

  .bible-version, .btn-bible-add {
      margin-left: 10px;
  }

  .popover {
    
    border: 1px solid #797979 !important;
  }

  .arrow::after, .arrow::before {
    border-top-color: #797979 !important;
  }

  .btn-bible-load-image {
    width: 22px !important;
    margin-left: -1px !important;
    margin-right: -1px !important;
    margin-top: -1px !important;
    margin-bottom: -1px !important;
    display: none;
  }

  #program {
      cursor: default !important;
  }

  #stageCanvas {
    width: 100%;
    image-rendering: pixelated;
    display: none;
  }

  body {
    -webkit-user-select: none;
    user-select: none;
  }
  * {
    cursor: default !important;
  }

  .contenteditable {
    cursor:auto !important;
  }

  #fileBrowser {
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 40px 20px 40px;
    background-color: rgb(51, 51, 51);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
    font-size: 15pt;
    border-color: #18a8f0;
    border-style: solid;
    border-width: 2px;
    display: none;
    max-height: 80%;
    overflow-y: scroll;
}

#fileBrowser ul {
    list-style: none;
    padding: 0;
}

#fileBrowser li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#fileBrowser li .selected{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 86, 86);
}

#fileBrowser img {
    max-width: 100%;
    max-height: 120px;
}

#fileBrowser.left li {
    flex-direction: row;
}

#fileBrowser.top li {
    flex-direction: column;
    align-items: flex-start;
}

#fileBrowser.top img {
    margin-bottom: 5px;
}
